<!DOCTYPE html>
<html lang="en">
<head>


    <#include "../partials/head.ftlh">

    <link rel="stylesheet" type="text/css" href="/css/display.css">


    <title>Search Owner</title>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin/owners/">

        <span>Owners</span>
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

            <a class="nav-link" href="/logout">Logout</a>

        </li>
    </ul>

</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/home">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/owners/create">
                            <span data-feather="user"></span>
                            Create Owner
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>Search Owners</h2>

            <#include "../forms/searchOwnerForm.ftlh">

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>VAT</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Mail</th>
                        <th>Property Type</th>
<#--                        <th>Password</th>-->
                        <th>Remove</th>
                        <th>Edit</th>
<#--                        <th class="text-center">Remove</th>-->
                    </tr>
                    </thead>
                    <tbody>


                    <#if owners??>
                        <#list owners as owner>
                            <tr data-id="1">
                                <td>${owner.vat}</td>
                                <td>${owner.firstName}</td>
                                <td>${owner.lastName}</td>

                                <td>${owner.address}</td>
                                <td>${owner.phoneNumber}</td>
                                <td>${owner.email}</td>
                                <td>${owner.propertyType}</td>
<#--                                <td>${owner.password}</td>-->
                                <td>
                                    <form action="/admin/owners/${owner.vat}/delete" method="post" style="display: inline;" id="form_box">
                                        <button type="submit" class="btn btn-danger delete_icon"><span data-feather="x"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <a href="/admin/owners/${owner.vat}/edit">
                                        <span data-feather="tool"></span>
                                    </a>
                                </td>

<#--                                <td class="text-center">-->
<#--                                    <a href="#" data-toggle="modal" data-target="#remove">-->
<#--                                        <span data-feather="x"></span>-->
<#--                                    </a>-->
<#--                                </td>-->
                            </tr>
                        </#list>
                    </#if>

                    </tbody>
                </table>

<#--                <div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="removeTitle" aria-hidden="true">-->
<#--                    <div class="modal-dialog" role="document">-->
<#--                        <div class="modal-content">-->
<#--                            <div class="modal-header">-->
<#--                                <h5 class="modal-title" id="removeTitle">Confirm delete</h5>-->
<#--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<#--                                    <span aria-hidden="true">&times;</span>-->
<#--                                </button>-->
<#--                            </div>-->
<#--                            <div class="modal-body">-->
<#--                                Are you sure you want to delete this entry?-->
<#--                            </div>-->
<#--                            <div class="modal-footer">-->
<#--                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<#--                                <button type="button" class="btn btn-danger modal-action" onclick="remove(this)">Delete</button>-->
<#--                            </div>-->
<#--                        </div>-->
<#--                    </div>-->
<#--                </div>-->

            </div>
        </main>
    </div>
</div>

<#include "../partials/body.ftlh">

<script>
    feather.replace();
</script>
<script src="/js/validator.js"></script>
<#--<script src="./static/js/form.js"></script>-->
</body>
</html>